
body{
    background-color: lightgoldenrodyellow;
}
a.imdb{
    font-style: italic;
    color: red;
}

div > a{
    color: rgb(27, 139, 139);
}

.divClass{
    font-size: 20px; 
    font-weight: bold; 
    color: rgb(33, 101, 165); 
    border-bottom: double;
    margin-top: 20px
    
}

p{
    display: inline-block;
    margin: 5px;
    vertical-align: text-top;
    font-weight: bold;
}